:root {
  --rayal-white-borders:#A3A3A3;
  --rayal-gray-color:gray;
  --primary-color:rgb(0, 62, 104);
  --secondary-color:rgb(78, 89, 128);
  --acecnt-color:rgb(88, 79, 216);;
  --text-color:rgba(100, 100, 100, 0.226);
}